In [47]:
import numpy as np
import pandas as pd

In [48]:
df = pd.read_csv('housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [50]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [51]:
ocean_proxi = pd.Series(df['ocean_proximity'])
df.drop(['ocean_proximity'], axis=1, inplace=True)

In [52]:
X_mean = np.mean(df, axis=0)
X_std = np.std(df, axis=0)
df_normalized = (df-X_mean)/X_std

In [53]:
df['ocean_proximity'] = ocean_proxi
df_normalized['ocean_proximity'] = df['ocean_proximity']
del ocean_proxi

df_encoded = pd.get_dummies(df_normalized, columns=['ocean_proximity'], dtype=int)
df_encoded

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-1.327835,1.052548,0.982143,-0.804819,-0.970325,-0.974429,-0.977033,2.344766,2.129631,0,0,0,1,0
1,-1.322844,1.043185,-0.607019,2.045890,1.348276,0.861439,1.669961,2.332238,1.314156,0,0,0,1,0
2,-1.332827,1.038503,1.856182,-0.535746,-0.825561,-0.820777,-0.843637,1.782699,1.258693,0,0,0,1,0
3,-1.337818,1.038503,1.856182,-0.624215,-0.718768,-0.766028,-0.733781,0.932968,1.165100,0,0,0,1,0
4,-1.337818,1.038503,1.856182,-0.462404,-0.611974,-0.759847,-0.629157,-0.012881,1.172900,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-0.758826,1.801647,-0.289187,-0.444985,-0.388895,-0.512592,-0.443449,-1.216128,-1.115804,0,1,0,0,0
20636,-0.818722,1.806329,-0.845393,-0.888704,-0.920488,-0.944405,-1.008420,-0.691593,-1.124470,0,1,0,0,0
20637,-0.823713,1.778237,-0.924851,-0.174995,-0.125472,-0.369537,-0.174042,-1.142593,-0.992746,0,1,0,0,0
20638,-0.873626,1.778237,-0.845393,-0.355600,-0.305834,-0.604429,-0.393753,-1.054583,-1.058608,0,1,0,0,0
20639,-0.833696,1.750146,-1.004309,0.068408,0.185416,-0.033977,0.079672,-0.780129,-1.017878,0,1,0,0,0

In [54]:
df_encoded.drop(["longitude", "latitude"], axis=1, inplace=True)

del df_normalized

In [55]:
df_encoded.columns

Index(['housing_median_age', 'total_rooms', 'total_bedrooms', 'population',
       'households', 'median_income', 'median_house_value',
       'ocean_proximity_<1H OCEAN', 'ocean_proximity_INLAND',
       'ocean_proximity_ISLAND', 'ocean_proximity_NEAR BAY',
       'ocean_proximity_NEAR OCEAN'],
      dtype='object')

In [56]:
df_encoded["median_income"] = df["median_income"]
df_encoded["income_cat"] = pd.cut(
    df_encoded["median_income"],
    bins=[0., 1.5, 3.0, 4.5, 6., np.inf],
    labels=[1, 2, 3, 4, 5]
    )
df_encoded

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,income_cat
0,0.982143,-0.804819,-0.970325,-0.974429,-0.977033,8.3252,2.129631,0,0,0,1,0,5
1,-0.607019,2.045890,1.348276,0.861439,1.669961,8.3014,1.314156,0,0,0,1,0,5
2,1.856182,-0.535746,-0.825561,-0.820777,-0.843637,7.2574,1.258693,0,0,0,1,0,5
3,1.856182,-0.624215,-0.718768,-0.766028,-0.733781,5.6431,1.165100,0,0,0,1,0,4
4,1.856182,-0.462404,-0.611974,-0.759847,-0.629157,3.8462,1.172900,0,0,0,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-0.289187,-0.444985,-0.388895,-0.512592,-0.443449,1.5603,-1.115804,0,1,0,0,0,2
20636,-0.845393,-0.888704,-0.920488,-0.944405,-1.008420,2.5568,-1.124470,0,1,0,0,0,2
20637,-0.924851,-0.174995,-0.125472,-0.369537,-0.174042,1.7000,-0.992746,0,1,0,0,0,2
20638,-0.845393,-0.355600,-0.305834,-0.604429,-0.393753,1.8672,-1.058608,0,1,0,0,0,2
20639,-1.004309,0.068408,0.185416,-0.033977,0.079672,2.3886,-1.017878,0,1,0,0,0,2

In [57]:
from sklearn.model_selection import StratifiedShuffleSplit

split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)

for train_idx, test_idx in split.split(df_encoded, df_encoded["income_cat"]):
    strat_train_set = df_encoded.loc[train_idx]
    strat_test_set = df_encoded.loc[test_idx]

In [58]:
for dataset in (strat_train_set, strat_test_set):
    dataset.drop(['income_cat'], axis=1, inplace=True)

In [59]:
X_mean = np.mean(df['median_income'])
X_std = np.std(df['median_income'])
strat_train_set['median_income'] = strat_test_set['median_income'] = (df['median_income']-X_mean)/X_std

In [60]:
strat_train_set.to_csv('housing_training.csv')
strat_test_set.to_csv('housing_testing.csv')